.footer {
    background-color: $white;
    margin-top: auto;
    padding: 24px 36px;
    border-top: 1px solid #dbe1e2;
    box-shadow: 0 -2px 4px 0 rgba(3, 33, 40, 0.04);

    @include media-breakpoint-down(vxs) {
        padding: 24px 15px;
    }

    .container__footer {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }
    }
}
